<div style="width:100%;heigth:100%;background:#c0c0c0;text-align:center; margin:0 auto" align="center">
    <div style="width:650px; margin:0 auto; padding:0;background-color:transparent;text-align:center;">
        <table width="650" cellpadding="0" cellspacing="0" border="0" style="background-color:#fff; margin:0 auto;paddding:0; font-family:Arial, Helvetica, sans-serif">
        	<tr>
            	<td width="650" style="font-size:0px;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_01.jpg" width="650" height="17" border="0"/></td>
        	</tr>
            <tr>
            	<td width="650">
                	<table width="650" cellpadding="0" cellspacing="0" border="0">
                    	<td width="105" style="font-size:0px;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_02.jpg" width="105" height="80" border="0"/></td>
                        <td width="80" style="font-size:0px;"><a href="http://www.openapp.com.ar/" target="_blank"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_03.jpg" width="80" height="80" border="0"/></a></td>
                        <td width="465" style="font-size:0px;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_04.jpg" width="465" height="80" border="0"/></td>
                    </table>
                </td>
            </tr>
        	<tr>
            	<td width="650" style="font-size:0px;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_05.jpg" width="650" height="240" border="0"/></td>
        	</tr>
            <tr>
            	<td width="650">
                	<table width="650" cellpadding="0" cellspacing="0" border="0">
                    	<td width="79">&nbsp;</td>
                        <td width="507">
                        	<table width="507" cellpadding="0" cellspacing="0" border="0">
                        		<tr>
                                	<td width="507" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#232323">
                                    	Para poder <b>completar toda la informaci&oacute;n inherente a tu proyecto</b>, te
                                        recomendamos que aproveches los contenidos de la capacitaci&oacute;n virtual
                                        recreada para vos y titulada &quot;<b>Herramientas de an&aacute;lisis de mi mercado, 
                                        mi competencia y el nivel de innovaci&oacute;n de mi proyecto</b>&quot;.
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                	<td width="507" style="font-size:0"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_08.jpg" width="507" height="24" border="0"/></td>
                                </tr>
                                <tr>
                                	<td width="507" align="left" style="font-size:0"><a href="http://openapp.vurbia.com" target="_blank"><img src="http://openapp.com.ar/newletters/ya_participando/img/vuribia-link.jpg" width="161" height="19" border="0"/></a></td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                	<td width="507" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#232323">
                                    	Los datos de acceso son:<br/>
                                        <span style="color:#0083ae;font-weight:bold">Usuario: openapp<br/></span>
                                        <span style="color:#0083ae;font-weight:bold">Contrase&ntilde;a: 0p3n4pp</span>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                	<td width="507" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#232323">
                                    	Record&aacute; que <b>esta capacitaci&oacute;n estar&aacute; online durante el per&iacute;odo que dure la 
                                        primera etapa del Open App</b>, con lo cual te recomendamos que elijas el momento 
                                        para poder verla y sacar el mayor provecho de ella.
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                	<td width="507" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#232323">
                                    	Ten&eacute; en cuenta, adem&aacute;s, que <b>si sos seleccionado</b> por el jurado de Open App
                                        Challenge como uno de los <b>semifinalistas, ser&aacute;s invitado a una nueva 
                                        capacitaci&oacute;n</b> (esta vez presencial) basada en las tem&aacute;ticas: &quot;Herramientas de c&aacute;lculo 
                                        de la inversi&oacute;n en capital de trabajo e inversi&oacute;n en infraestructura. C&aacute;lculo de las 
                                        necesidades m&aacute;ximas de financiamiento. Principales conceptos a tener en cuenta en
                                        ingresos y egresos de fondos. Armado de un simple cash flow&quot;.
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                	<td width="507" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:13px;color:#232323">
                                    	&iexcl;&Eacute;xitos!
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr><td>&nbsp;</td></tr>
                        	</table>
                        </td>
                        <td width="64">&nbsp;</td>
                    </table>
                </td>
            </tr>
            
            <tr>
            	<td width="650" style="font-size:0px;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_11.jpg" width="650" height="13" border="0"/></td>
        	</tr>
            
            <tr>
            	<td width="650"  style="vertical-align:top;">
                	<table width="650" cellpadding="0" cellspacing="0" border="0">
                    	<tr>
                        	<td width="90" style="vertical-align:top; background-color:#dddad7;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_12.jpg" width="90" height="120" border="0"/></td>
							<td align="center" width="467" style="vertical-align:top; background-color:#FFFFFF;" >
                              <table width="467" cellpadding="0" cellspacing="0" border="0" style="vertical-align:top; background-color:#FFFFFFF; color:#7ab800">
                                    <tr>
                                    	<td width="462" colspan="4" style="vertical-align:top">
                                        	<table width="462" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff">
                                                <tr>
                                                    <td width="103" height="42" style="vertical-align:middle; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color:#FFFFFF" align="left"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_13.jpg" width="103" height="42" border="0"/></td>
                                                    <td width="153" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF; border-right:1px solid #bebebe" align="center"><a href="http://www.movistar.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/movi.jpg" width="100" height="22" border="0" /></a></td>
                                                    <td width="93" style="vertical-align:middle; text-align:center; margin:0 auto; font-size:0; background-color:#FFFFFF; border-right:1px solid #bebebe" align="center"><a href="http://speedy.com.ar/no-clientes/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/Spe.jpg" width="80" height="29" border="0" /></a></td>
                                                    <td width="122" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.telefonica.com.ar/negocios" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/tel.jpg" width="90" height="25" border="0" /></a></td>
                                                </tr>
                                             </table>
                                        </td>
                                         	
                                    </tr>
                                    <tr>
                                    	<td width="462" colspan="4" style="vertical-align:top">
                                        	<table width="462" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff">
                                                <tr>
                                                    <td width="103" height="37" style="vertical-align:middle; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color:#FFFFFF" align="left"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_15.jpg" width="103" height="37" border="0"/></td>
                                                    <td width="61" align="center" style="background-color:#FFF"><a href="http://www.developer.nokia.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/Nokia.jpg" width="55" height="9" border="0" /></a></td>
                                                    <td width="95" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.inicia.org.ar" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/ini.jpg" width="40" height="31" border="0" /></a></td>
                                                    <td width="122" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.palermo.edu/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/upal.jpg" width="25" height="24" border="0" /></a></td>
                                                    <td width="155" style="vertical-align:middle; text-align:center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.nec.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/ne.jpg" width="41" height="12" border="0" /></a></td>
                                    			</tr>
                                             </table>
                                        </td>
                                    </tr>
									<tr>
                                        <td width="462" colspan="4" style="vertical-align:top">
                                        	<table width="462" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff">
                                            	<tr>
                                                	<td width="103" height="41" style="vertical-align:middle; text-align:left;font-size:0px;" align="left"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_16.jpg" width="103" height="41" border="0"/></td>
                                        			<td width="134" style="vertical-align:middle; text-align:center; margin:0 auto; font-size:0; background-color:#FFFFFF;" align="right"><a href="http://www.redusers.com/noticias/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/red1.jpg" width="55" height="13" border="0" /></a></td>
                                        			<td width="123" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.canal-ar.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/canal1.jpg" width="44" height="15" border="0" /></a></td>
                                                    <td width="115" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.worktec.com.ar/v2010/inicio.html" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/wortecklogo1.jpg" width="41" height="25" border="0" /></a></td>
                                                	<td align="center" style="padding:0 4px;"><a href="http://www.omlatam.com/" target="_blank"><img src="http://openapp.com.ar/TourInnova/img/onlatam.jpg" width="70" height="29" border="0" /></a></td>
                                                </tr>
                                        </table>                                      
                                    </td>
                                 </tr>
                          </table>
                        </td>
                       	<td width="93" style="vertical-align:top; background-color:#ffffff;">&nbsp;</td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr>
            	<td width="650" style="font-size:0px;"><img src="http://openapp.com.ar/newletters/ya_participando/img/news_ya_participando_17.jpg" width="650" height="42" border="0"/></td>
        	</tr>
        </table>
    </div>
</div>