<div style="width:100%;heigth:100%;background:#c0c0c0;text-align:center; margin:0 auto" align="center">
    <div style="width:600px; margin:0 auto; padding:0;background-color:transparent;text-align:center;">
        <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color:#fff; margin:0 auto;paddding:0; font-family:Arial, Helvetica, sans-serif">
        	<tr>
      			<td width="600" style="vertical-align:top; font-size:0">
                	<table cellpadding="0" cellspacing="0" border="0" width="600">
                    	<tr>
                            <td width="154" style="vertical-align:top; font-size:0"><a href="http://www.openapp.com.ar/" target="_blank"><img src="http://www.epexo.com/images/openapp/LogoOpenApp.jpg" border="0" width="154" height="151" /></a></td>
                            <td width="446" style="vertical-align:top; font-size:0"><img src="http://www.epexo.com/images/openapp/ElconcursoNacional.jpg" width="446" height="151" /></td>
                        </tr>
                    </table>
                </td>
            </tr>            
            <tr>
                <td width="600" style="vertical-align:top; font-size:0">
                    <table cellpadding="0" cellspacing="0" border="0" width="600">
                        <tr>
                            <td width="171" style="vertical-align:top; font-size:0">&nbsp;</td>
                            <td width="268" style="vertical-align:top; font-size:0">
                                <table cellpadding="0" cellspacing="0" border="0" width="268">
                                    <tr>
                                        <td height="30" width="268" style="vertical-align:top; font-size:0" >&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="268" style="vertical-align:top; font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#007fa3; text-align:left; font-weight:bold">&iexcl;Felicitaciones <?php echo $Responsable->getNombre();?>!</td>
                                    </tr>
                                    <tr>
                                        <td width="268" height="15" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="268" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3;text-align:left; font-weight:bold">Tu proyecto &quot;<?php echo $Proyecto->getNombre();?>&quot; ha sido <span style="text-decoration:underline; font-size:14px; text-transform: uppercase">aprobado.</span></td>
                                    </tr>
                                    <tr>
                                        <td width="268" height="15" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                      <td width="268" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3;text-align:left; font-weight:normal">Dentro de las pr&oacute;ximas 72 h. estar&aacute;s recibiendo un e-mail donde deber&aacute;s completar otros datos referentes a tu producto/servicio para continuar avanzando en el Concurso Nacional de Aplicaciones Digitales.</td>
                                    </tr>
                                    <tr>
                                      <td width="268" height="25" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="268" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3;text-align:left; font-weight:normal"><b>Gracias por participar,</b></td>
                                    </tr>
                                    <tr>
                                        <td width="268" height="15" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="268" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3;text-align:left; font-weight:normal">Atte.</td>
                                    </tr>
                                    <tr>
                                        <td width="268" height="5" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="268" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3;text-align: right; font-weight:normal">el equipo del Open App.</td> 
                                    </tr>
                                </table>
                            </td>
                            <td width="161" style="vertical-align:top; font-size:0">&nbsp;</td>
                        </tr>
                    </table>    
                </td>
            </tr>
            <tr>
            	<td height="100" width="600" style="vertical-align:top; font-size:0">&nbsp;</td>
            </tr>
       </table>
    </div>
</div>
