<div id="Footer">
    <div class="AnchoContenedorMas Centrar PosicionRelativa">
        <table width="750" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="119" style="vertical-align:top; background-color:#FFFFFF;">&nbsp;</td>
                <td align="center" width="462" style="vertical-align:top; background-color:#FFFFFF;" >
                  <table width="462" cellpadding="0" cellspacing="0" border="0" style="vertical-align:top; background-color:#FFFFFFF; color:#7ab800">
                         <tr>
                            <td width="462" style="vertical-align:top">
                                <table width="462" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td width="90" height="38" style="vertical-align:middle; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; background-color:#FFFFFF" align="left"><img src="http://openapp.com.ar/Eventioz/Octubre/img/organizadores.jpg" width="86" height="13" /></td>
                                        <td width="153" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF; border-right:1px solid #bebebe" align="center"><a href="http://www.movistar.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/movi.jpg" width="100" height="22" border="0" /></a></td>
                                        <td width="93" style="vertical-align:middle; text-align:center; margin:0 auto; font-size:0; background-color:#FFFFFF; border-right:1px solid #bebebe" align="center"><a href="http://speedy.com.ar/no-clientes/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/Spe.jpg" width="80" height="29" border="0" /></a></td>
                                        <td width="122" style="vertical-align:middle; text-align: center; margin:0 auto; font-size:0; background-color:#FFFFFF" align="center"><a href="http://www.telefonica.com.ar/negocios" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/tel.jpg" width="90" height="25" border="0" /></a></td>    
                                    </tr>
                                </table>
                            </td>       
                        </tr>
                        <tr>
                            <td width="462" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                          <td width="462" style="vertical-align:top">
                              <table width="462" cellpadding="0" cellspacing="0" border="0" style="vertical-align:middle; text-align:center; margin:0 auto; font-size:0; background-color:#FFFFFF">
                                  <tr>
                                      <td width="90" height="38" style="text-align:left;" align="left"><img src="http://openapp.com.ar/Eventioz/Octubre/img/mainspondors.jpg" width="87" height="13" /></td>
                                      <td width="28">&nbsp;</td>
                                      <td width="61" align="left"><a href="http://www.developer.nokia.com/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/Nokia.jpg" width="55" height="9" border="0" /></a></td>
                                      <td width="47">&nbsp;</td>
                                      <td width="40"><a href="http://www.inicia.org.ar" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/ini.jpg" width="40" height="31" border="0" /></a></td>
                                      <td width="63">&nbsp;</td>
                                      <td width="25"><a href="http://www.palermo.edu/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/upal.jpg" width="25" height="24" border="0" /></a></td>
                                      <td width="50">&nbsp;</td>
                                      <td width="41"><a href="http://www.nec.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/ne.jpg" width="41" height="12" border="0" /></a></td>
                                      <td width="16"></td>
                                   </tr>
                              </table>         
                          </td>       
                        </tr>
                        <tr>
                            <td width="462" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="462" style="vertical-align:top; background-color:#FFFFFF">
                                <table width="462" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td width="90" height="38"><img src="http://openapp.com.ar/Eventioz/Octubre/img/acompanantes.jpg" width="88" height="13" /></td>
                                        <td width="73">&nbsp;</td>
                                        <td width="55"><a href="http://www.redusers.com/noticias/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/red1.jpg" width="55" height="13" border="0" /></a></td>
                                        <td width="55">&nbsp;</td>
                                        <td width="44"><a href="http://www.canal-ar.com.ar/" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/canal1.jpg" width="44" height="15" border="0" /></a></td>
                                        <td width="46">&nbsp;</td>
                                        <td width="41"><a href="http://www.worktec.com.ar/v2010/inicio.html" target="_blank"><img src="http://openapp.com.ar/Eventioz/Octubre/img/wortecklogo1.jpg" width="41" height="25" border="0" /></a></td>
                                        <td width="58">&nbsp;</td>
                                    </tr>
                                 </table>
                               </td>
                          </tr>
                    </table>
                </td>
                <td width="119" style="vertical-align:top; background-color:#ffffff;">&nbsp;</td>
             </tr>
         </table>
   <!-- <div class="EsponsorsTop EsponsorsBottom">
        <div class="EsponsorsTopFilas">
            <div class="EsponsorsTopPriFila"><a href="http://www.movistar.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/movistar.png" title="Movistar" border="0" /></a></div>
            <div class="EsponsorsTopPriFila"><img src="<?php echo CESIS::$ROOT; ?>img/SeparadorSponsors.jpg" style="padding: 0 5px" /></div>
            <div class="EsponsorsTopPriFila"><a href="http://www.speedy.com.ar/no-clientes/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/SpeadySponsor.jpg" title="Speedy" border="0" /></a></div>
            <div class="EsponsorsTopPriFila"><img src="<?php echo CESIS::$ROOT; ?>img/SeparadorSponsors.jpg" style="padding: 0 5px" /></div>
            <div class="EsponsorsTopPriFila"><a href="http://www.telefonica.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/telefonica.png" title="Telefonica" border="0" /></a></div>
            <div class="Clr"></div>
        </div>
        <div class="EsponsorsTopFilasSeg">
            <div class="EsponsorsTopSegFila"><a href="http://www.nec.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/NecSponsor.jpg" title="Nec" style="padding: 10px 0 0 0" border="0" /></a></div>
            <div class="EsponsorsTopSegFila"><a href="http://www.palermo.edu/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/UniversidadPalermo.jpg" title="Universidad de Palermo" style="padding: 5px 0 0 7px" border="0" /></a></div>
            <div class="EsponsorsTopSegFila"><a href="hhttp://www.inicia.org.ar/New/FrontEnd/feHome.aspx" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/inicia.png" title="Inicia" style="padding: 0 0 5px 0" border="0" /></a></div>
            <div class="Clr"></div>
        </div>
        <div class="Clr"></div>
        <div class="Copyright">Copyright &copy;2011 Open App. Todos los derechos reservados.</div>
    </div>
    <div class="AnchoContenedor Centrar" >
        <div class="LeftFooterFilas">
            <div class="leftFooter Organizadores">Organizadores :</div>
            <div class="leftFooter"><a href="http://www.speedy.com.ar/no-clientes/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Speady_footer.png" title="Speedy" alt="Speedy" /></a></div>
            <div class="leftFooter"><a href="http://www.telefonica.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Telefonica_footer.png" title="Telefónica" alt="Telefónica" /></a></div>
            <div class="leftFooter"><a href="http://www.movistar.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Movistar_footer.png" title="Movistar" alt="Movistar" /></a></div>
        </div>
        <div class="LeftFooterFilas">
            <div class="leftFooter Organizadores">Main Sponsors :</div>
            <div class="leftFooter Organizadores"><a href="http://www.nec.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Nec_footer.png" title="NEC" alt="NEC" /></a></div>
            <div class="leftFooter"><a href="http://www.iae.edu.ar/pi/centros/Entrepreneurship/Paginas/NAVES_hoy.aspx" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Globo_footer.png" title="Naves" alt="Naves" /></a></div>
            <div class="leftFooter Organizadores"><a href="http://www.globant.com/Content/Home/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Globant_footer.png" title="Globant" alt="Globant" /></a></div>
        </div>
        <div class="LeftFooterFilas">
            <div class="leftFooter Organizadores">Acompa&ntilde;antes :</div>
            <div class="leftFooter"><a href="http://www.embluemail.com.ar/" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/Emblue_footer.png" title="emBlue" alt="emBlue" /></a></div>
        </div>
        <div class="Right ResaltarFooter">
            <div class="Right CopyrightFooter"><a href="<?php echo CESIS::$ROOT ?>Evento/"><span>EL EVENTO</span></a></div>
            <div class="Left CopyrightFooter">Copyright &copy;2011 Open App. Todos los derechos reservados.</div>
        </div>    
        <div class="Clr"></div>
    </div>
    </div> -->
    </div>
</div>
<div id="Comunidades" class="PosicionFixed">
    <div><a href="http://twitter.com/#!/OpenApp_Arg" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/ico_twitter.png" title="Twitter" alt="Twitter" /></a></div>
    <div><a href="http://www.youtube.com/OpenAppChallenge" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/ico_youtube.png" title="Youtube" alt="YouTube" /></a></div>
    <div><a href="https://plus.google.com/103658051464673289150/posts" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/ico_dospuntos.png" title="Google+" alt="Google+" /></a></div>
    <!--<div><a href="http://www.linkedin.com/groups?home=&gid=3502737" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/ico_link.png" title="Linkedin" alt="LinkedIn" /></a></div>-->
    <div><a href="http://www.facebook.com/OpenAppChallenge" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/ico_face.png" title="Facebook" alt="FaceBook" /></a></div>
    <div><img onclick="PopUpConsulta('template/Vacio/FormConsulta.html', true)" src="<?php echo CESIS::$ROOT; ?>img/ico_consulta.png" title="Consulta" alt="Consulta" style="cursor: pointer" /></div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27372033-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
