<div class="AgendaCalendario">
    <div><img src="<?php echo CESIS::$ROOT; ?>img/EventosDeMarzo.png" /></div>
    <div>
        <img src="<?php echo CESIS::$ROOT; ?>img/calendario_marzo.png" border="0" usemap="#Map" />
        <map name="Map" id="Map">
            <area shape="rect" coords="75,67,93,81" href="#0307" />
            <area shape="rect" coords="97,68,113,81" href="#0308" />
            <area shape="rect" coords="54,85,72,97" href="#0313" />
            <area shape="rect" coords="97,83,112,92" href="#0315" />
            <area shape="rect" coords="56,102,68,112" href="#0320" />
            <area shape="rect" coords="96,102,113,113" href="#0322" />
            <area shape="rect" coords="55,119,72,129" href="#0327" />
            <area shape="rect" coords="76,117,93,130" href="#0328" />
        </map>
    </div>
    <div><img src="<?php echo CESIS::$ROOT; ?>img/AgendaTextoCalendario.png" /></div>
</div>
<div class="Centrar AnchoContenedor Transparente">
    <div class="TituloInteriorCont" style="position:relative;">
        <img src="<?php echo CESIS::$ROOT; ?>img/agenda_interior.png" />
        <img src="<?php echo CESIS::$ROOT; ?>img/ico_agenda.png" style="position: absolute;right: 15px; top:10px;" />
    </div>

    <!--div id="0301" class="EventoMasProximo">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaWebinar.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/BlueViaApps.png" /></div>
        <div class="EventoMasProximoConten">
                        <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemasWebinar.png" />
                <ol>
                    <li>Venta de Apps: <span class="SpeakerEventoTit">Distribuci&oacute;n de apps a nivel mundial. &iquest;Qu&eacute; modelo de negocio me conviene&quest;</span></li>
                    <li>BlueVia:<span class="SpeakerEventoTit"> Uso de APIs de SMS, MMS, publicidad, venta de aplicaciones y suscripciones.</span></li>              
                </ol>
                
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>01</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>16.00 - 17:30 h.</li>
                </ul>
                <div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://www3.gotomeeting.com/register/846488478" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegWebinar.png" border="0" style="padding: 0px 0 10px 0" /></a></div>
            </div>
        </div>
    </div-->
   
    <div id="0307" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
                        <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Lorena Comino:<span class="SpeakerEventoTit"> Animate a emprender!</span></li>
                    <li>Daniel Soldan:<span class="SpeakerEventoTit"> La evoluci&oacute;n del marketing online y m&oacute;vil</span></li>              
                    <li>Diana Silveira:<span class="SpeakerEventoTit"> ¿C&oacute;mo volcar una idea en papel&quest;</span></li>
                    <li>Laura Corton:<span class="SpeakerEventoTit"> Iniciativas para desarrolladores y emprendedores de Grupo Telef&oacute;nica</span></li>
                    <li>Andr&eacute;s Saborido:<span class="SpeakerEventoTit"> Wayra, un acelerador de ideas</span></li>
                </ol>
                
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>07</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>17.00 - 21.00 h.</li>
                    <li><span>Lugar: </span>UNMDP - Facultad de Ingenieria</li>
                    <li><span>Direcci&oacute;n: </span>Juan B. Justo 4302.</li>
                    <li><span>Ciudad: </span>Mar del Plata</li>
                    <li><span>Provincia: </span>Buenos Aires</li>
                </ul>
                <!--div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-mar-del-plata?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div-->
            </div>
        </div>
    </div>
   
   <div id="0308" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
                        <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Globant:<span class="SpeakerEventoTit"> Cloud Computing</span></li>
                    <li>Diana Silveira:<span class="SpeakerEventoTit"> &iquest;C&oacute;mo volcar una idea en papel&quest;</span></li>              
                    <li>Globant:<span class="SpeakerEventoTit"> Tecnologías M&oacute;viles</span></li>
                    <li>Santiago Peyr&eacute;:<span class="SpeakerEventoTit"> Emprender en Argentina, como pasar de la relación de dependencia y la propia empresa</span></li>
                    <li>Laura Corton:<span class="SpeakerEventoTit"> Iniciativas para desarrolladores y emprendedores de Grupo Telef&oacute;nica</span></li>
                    <li>Lorena Suarez:<span class="SpeakerEventoTit"> Wayra, un acelerador de ideas</span></li>
                </ol>
                
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>08</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>19.30 - 22.00 h.</li>
                    <li><span>Lugar: </span>Auditorio de OSDE</li>
                    <li><span>Direcci&oacute;n: </span>Av. Santamarina 451</li>
                    <li><span>Ciudad: </span>Tandil</li>
                    <li><span>Provincia: </span>Buenos Aires</li>
                </ul>
                <!--div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-globant-tandil?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div-->
            </div>
        </div>
    </div>
    
    <div id="0313" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
                        <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Mat&iacute;as Ruiz :<span class="SpeakerEventoTit"> Integraci&oacute;n de las TICs en las cadenas de innovaci&oacute;n agroalimentarias</span></li>
                    <li>Sebastián Rosenfeld:<span class="SpeakerEventoTit"> Tecnolog&iacute;as M&oacute;viles</span></li>
                    <li>Bruno San Juan:<span class="SpeakerEventoTit"> Iniciativas para desarrolladores y emprendedores de Grupo Telef&oacute;nica</span></li>
                    <li>Rodrigo Castiglione:<span class="SpeakerEventoTit"> &iquest;Cu&aacute;ntas apps vas a vender en 2 a&ntilde;os?</span></li>
                </ol>
                
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>13</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>20:00 - 22.30 h.</li>
                    <li><span>Lugar: </span>Selenio Restaurante - Parador Uno - Complejo Playas Del Thompson </li>
                    <!--li><span>Direcci&oacute;n: </span>Av. Santamarina 451</li-->
                    <li><span>Ciudad: </span>Paran&aacute;</li>
                    <li><span>Provincia: </span>Entre Rios</li>
                </ul>
                <!--div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-globant-parana?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div-->
            </div>
        </div>
    </div>
    
    <div id="0315" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
            <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <!--li>Andr&eacute;s Leonardo Martinez Ortiz:<span class="SpeakerEventoTit"> Presentaci&oacuten de BlueVia y sesiones de speed dating</span></li-->
                    <li>Francisco Llamb&iacute;:<span class="SpeakerEventoTit"> Marketing Online y M&oacute;vil</span></li>
                    <li>Globant:<span class="SpeakerEventoTit"> M&oacute;viles</span></li>
                    <li>Sebasti&aacute;n Rosenfeld:<span class="SpeakerEventoTit"> Comunicaci&oacute;n y Marketing de un proyecto de tecnolog&iacute;a</span></li>
                    <li>Bruno San Juan:<span class="SpeakerEventoTit"> Iniciativas del Grupo Telef&oacute;nica para desarrolladores y emprendedores</span></li>
                    <li>Federico Roma:<span class="SpeakerEventoTit"> Wayra, un acelerador de ideas</span></li>
                </ol>
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>15</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>18.30 - 22.00 h.</li>
                    <li><span>Lugar: </span>Globant - Edificio Capitalinas</li>
                    <li><span>Direcci&oacute;n: </span>Humberto Primo 630 - Piso 3</li>
                    <li><span>Ciudad: </span>C&oacute;rdoba Capital</li>
                    <li><span>Provincia: </span>C&oacute;rdoba</li>
                </ul>
                <!--div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-globant-cordoba?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div-->
            </div>
        </div>
    </div>
    
    <div id="0320" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
            <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Leonardo Valente: <span class="SpeakerEventoTit">De la Idea a la Acci&oacute;n - Aventuras y Desventuras del Inicio de un Negocio</span></li>
                    <li>Gustavo Arjones: <span class="SpeakerEventoTit">Social Metrix, an&aacute;lisis online para la toma de decisiones</span></li>
                    <li>Andr&eacute;s Saborido - Lorena Suarez: <span class="SpeakerEventoTit">Wayra, un acelerador de ideas</span></li>
                    <li>Rodrigo Castiglione: <span class="SpeakerEventoTit">&iquest;Cu&aacute;ntas apps vas a vender en 2 a&ntilde;os?</span></li>
                    <li>Bruno San Juan: <span class="SpeakerEventoTit">Iniciativas para desarrolladores y emprendedores de Grupo Telef&oacutenica</span></li>
                    <li>Gonzalo Arzuaga: <span class="SpeakerEventoTit">Emprendedores exitosos desde los años '90 a hoy</span></li>
                    <li>Jos&eacute; Ugarte: <span class="SpeakerEventoTit">La oportunidad comercial</span></li>
                    <li>Fernando Freytes: <span class="SpeakerEventoTit">Informaci&oacute;n y consejos pr&aacute;cticos que te ser&aacute;n de utilidad para descubrir todo el potencial que ofrecen las aplicaciones m&oacute;viles en tu negocio.</span></li>
                </ol>
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>20</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>09.00 - 12.00 h.</li>
                    <li><span>Lugar: </span>UBA - Facultad de Ciencias Econ&oacute;micas</li>
                    <li><span>Direcci&oacute;n: </span>C&oacute;rdoba 2122</li>
                    <li><span>Ciudad: </span>CABA</li>
                    <li><span>Provincia: </span>Buenos Aires</li>
                </ul>
                <!--div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-la-uba-caba?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div-->
            </div>
        </div>
    </div>
    
    <div id="0322" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
            <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Mauro Palacios: <span class="SpeakerEventoTit">Su experiencia como emprendedor digital</span></li>
                    <li>Juan Lehman: <span class="SpeakerEventoTit">Cloud Computing</span></li>
                    
                    <li>Lorena Suarez: <span class="SpeakerEventoTit">Wayra, un acelerador de ideas</span></li>
                    <li>Eugenia Assaf: <span class="SpeakerEventoTit">Iniciativas del Grupo Telef&oacute;nica para desarrolladores y emprendedores</span></li>
                    <li>Leonardo Rubino: <span class="SpeakerEventoTit">Concurso Open App para desarrolladores y emprendedores digitales</span></li>
                </ol>
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>22</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>18.30 - 22.00 h.</li>
                    <li><span>Lugar: </span>UTN - Facultad Regional Tucum&aacute;n – Aula Magna</li>
                    <li><span>Direcci&oacute;n: </span>Rivadavia 1050</li>
                    <li><span>Ciudad: </span>San Miguel de Tucum&aacute;n</li>
                    <li><span>Provincia: </span>Tucum&aacute;n</li>
                </ul>
                <!--div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-la-utn-san-miguel-de?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div-->
            </div>
        </div>
    </div>
    
     <div id="0327" class="EventoMasProximo">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
            <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Andr&eacute;s Saborido:&nbsp;<span class="SpeakerEventoTit">Wayra, un acelerador de ideas</span></li>
                    <li>Fernando Pinciroli:&nbsp;<span class="SpeakerEventoTit">Smart Grids: redes inteligentes de energía el&eacute;ctrica</span></li>
                    <li>Marcelo Palma:&nbsp;<span class="SpeakerEventoTit">SaaS y Cloud Computing: una oportunidad de negocio para los emprendedores digitales</span></li>
                    <li>Pablo Aquistapace:&nbsp;<span class="SpeakerEventoTit">Eventioz, un caso de &eacute;xito</span></li>   
                    <li>Mat&iacute;as de Angelis: <span class="SpeakerEventoTit">Concurso Open App para desarrolladores y emprendedores digitales</span></li>
                </ol>
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>27</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>19.30 - 22.00 h.</li>
                    <li><span>Lugar: </span>Parapithecus</li>
                    <li><span>Direcci&oacute;n: </span>Ar&iacute;stides Villanueva 264, 5500</li>
                    <li><span>Ciudad: </span>Mendoza Capital</li>
                    <li><span>Provincia: </span>Mendoza</li>
                </ul>
                <div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-parapithecus-mendoza?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div>
            </div>
        </div>
    </div>
    
    <div id="0328" class="AgendaEventosMes">
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/ParticipaEvento.png" /></div>
        <div class="ImgTitulo"><img src="<?php echo CESIS::$ROOT; ?>img/reflexionTecnologias.png" /></div>
        <div class="EventoMasProximoConten">
            <div class="EventoMasProximoContenLeft AgendaLeft">
                <img src="<?php echo CESIS::$ROOT; ?>img/TemaDelEvento1.png" />
                <ol>
                    <li>Roberto Vilari&ntilde;o: <span class="SpeakerEventoTit">&iquest;Por qu&eacute; las empresas tienen que invertir en el mundo 2.0?</span></li>
                    <li>Gaby Menta: <span class="SpeakerEventoTit">Imaginaci&oacute;n y Creatividad aplicada a La SocialMedia</span></li>
                    <li>Francisco Llamb&iacute;:<span class="SpeakerEventoTit"> Marketing Online y M&oacute;vil</span></li>
                    <li>Rom&aacute;n Pellegrino:<span class="SpeakerEventoTit"> Redes Sociales</span></li>
                    <li>Andr&eacute;s Saborido:<span class="SpeakerEventoTit"> Wayra, un acelerador de ideas</span></li>
                    <li>Rodrigo Castiglione:<span class="SpeakerEventoTit"> &iquest;Cu&aacute;ntas apps vas a vender en 2 a&ntilde;os?</span></li>
                    <li>Luciana Ocaranza - Iv&aacute;n Wolcan:<span class="SpeakerEventoTit"> Innovaci&oacute;n dentro del ADN de las corporaciones</span></li>
                    <li>Bruno San Juan:<span class="SpeakerEventoTit"> Concurso Open App para desarrolladores y emprendedores digitales</span></li>
                </ol>
            </div>
            <div class="EventoMasProximoContenRight" style="width: 265px;">
                <div class="TituloRight"><img src="<?php echo CESIS::$ROOT; ?>img/BulletAgenda.png" /><span>28</span> Marzo</div>
                <ul>
                    <li><span>Hora: </span>18.30 - 22.00 h.</li>
                    <li><span>Lugar: </span>Wilkenny :: Restaurant</li>
                    <li><span>Direcci&oacute;n: </span>Calle 11, esquina 50</li>
                    <li><span>Ciudad: </span>La Plata </li>
                    <li><span>Provincia: </span>Buenos Aires</li>
                </ul>
                <div class="SpeakersRegistro" style="margin:10px 0 0 0"><a href="https://eventioz.com/events/tour-de-innovacion-digital-en-wilkenny-la-plata?layout=ev_classic&stylesheet=9" target="_blank"><img src="<?php echo CESIS::$ROOT; ?>img/RegistrarseAlEvento.png" border="0" style="padding: 0px 0 10px 0" /></a></div>
            </div>
        </div>
    </div>





       
</div>
    