<!--<div class="PosicionAbsoluta" style="left: 25px;top:260px;"><a href="<?php echo CESIS::$ROOT; ?>Agenda/" target="_self"><img src="<?php echo CESIS::$ROOT; ?>img/encontranos.png" border="0" /></a></div>-->
<div id="Evento" class="AnchoContenedor Centrar" style="margin-bottom: 50px;padding: 35px 46px 0 36px;">
    <div><img src="<?php echo CESIS::$ROOT; ?>img/como_participar.png"/></div>
    <div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <!--<p style="margin:5px 0 0;color: white;">
            El concurso est&aacute; abierto a personas, equipos de personas y personas jur&iacute;dicas. Los participantes deber&aacute;n ser mayores de 18 a&ntilde;os con domicilio en la Rep&uacute;blica Argentina.<br />
            El primer paso a seguir para participar del concurso ser&aacute; el de registrarse en el sitio web como nuevo usuario y completar el formulario de alta de proyecto, describiendo brevemente la idea a implementar.<br />
            Una vez hecho aquello, los participantes recibir&aacute;n un correo electr&oacute;nico por parte de los organizadores en el que se les solicitar&aacute; que completen otros datos requeridos para continuar con el procedimiento para participar del concurso.<br /><br />
            La inscripci&oacute;n comenzar&aacute; el 19 de octubre de 2011 y finalizar&aacute; el 15 marzo de 2012.<br /><br />
            Para m&aacute;s detalles contactanos a trav&eacute;s de nuestras redes sociales.<br /><br />
        </p>-->
        <div class="ImagenComoParti"><img src="<?php echo CESIS::$ROOT; ?>img/CuadroComoParticipar.png"/></div>
            <p><a href="<?php echo CESIS::$ROOT?>BasesCondiciones/" style="color:#999999;font-weight: bold;">Bases y Condiciones del concurso</a></p>
        
    </div>
    
</div>