<!--<div class="PosicionAbsoluta" style="left: 25px;top:260px;"><a href="<?php echo CESIS::$ROOT; ?>Agenda/" target="_self"><img src="<?php echo CESIS::$ROOT; ?>img/encontranos.png" border="0" /></a></div>-->
<div id="Evento" class="AnchoContenedor Centrar" style="margin-bottom: 50px;padding: 35px 46px 0 36px;">
    <div><img src="<?php echo CESIS::$ROOT; ?>img/elconcurso.png"/></div>
    <div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <p style="margin:5px 0 0;color: white;">
            Movistar, Speedy y Telef&oacute;nica organizan el Open App segunda edici&oacute;n. El mismo est&aacute; dirigido a emprendedores tecnol&oacute;gicos, proveedores de contenidos, dise&ntilde;adores, estudiantes y graduados de carreras de sistemas que cuenten con un software en desarrollo para alguna de las siguientes categor&iacute;as: PYMES, m&oacute;viles o entretenimiento y educaci&oacute;n. 
            <br/><br/>El objetivo del concurso es impulsar la promoción y fomento de la innovaci&oacute;n. Con esta iniciativa pretendemos apoyar la generaci&oacute;n de nuevos emprendimientos digitales para web y para m&oacute;viles.
            Etapas:</p>
        <ol style="color:#fff">
            <li>Los participantes podr&aacute;n registrarse en el sitio oficial del concurso Open App y cargar la idea del proyecto terminado o en etapa de desarrollo.</li>
            <li>Quienes se hayan postulado con su proyecto recibirán un email donde se les solicitará informaci&oacute;n m&aacute;s detallada sobre el mismo para poder, de esta forma, aplicar los criterios de evaluaci&oacute;n.</li>
            <li>El jurado seleccionará los 180 mejores proyectos, los cuales tendr&aacute;n la posibilidad de  recibir capacitaci&oacute;n virtual para profundizar el plan de negocios.</li>
            <li>De esos 180 proyectos se elegir&aacute;n los 60 finalistas, a quienes se les brindar&aacute; un coaching y capacitaci&oacute;n presencial para avanzar aún más con el desarrollo de su negocio.</li>
            <li>Los 60 finalistas presentar&aacute;n su proyecto frente al comit&eacute; evaluador, quien seleccionar&aacute; los 15 ganadores (5 de cada una de las tres categor&iacute;as).</li> 
        </ol>
        </p>
    </div>
</div>