<!--<div class="PosicionAbsoluta" style="left: 25px;top:260px;"><a href="<?php echo CESIS::$ROOT; ?>Agenda/" target="_self"><img src="<?php echo CESIS::$ROOT; ?>img/encontranos.png" border="0"/></a></div>-->
<div id="Evento" class="AnchoContenedor Centrar" style="margin-bottom: 50px;padding: 35px 46px 0 36px;">
    <div><img src="<?php echo CESIS::$ROOT; ?>img/el_evento.png"/></div>
    <div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <span class="Resaltar" style="font-size: 13px;"><img src="<?php echo CESIS::$ROOT; ?>img/indicador2.png" align="left"/>El Concurso</span>
        <p style="margin:5px 0 0;color: white;">
            Una peque&ntilde;a descripci&oacute;n acerca de &eacute;sta categor&iacute;a<br /><br />
            Telef&oacute;nica organiza junto con Movistar y emBlue el Concurso Nacional de Aplicaciones Web y M&oacute;viles, Open APP 2011. El mismo est&aacute; dirigido a emprendedores tecnol&oacute;gicos, proveedores de contenidos, dise&ntilde;adores, estudiantes y graduados de carreras de sistemas que cuenten con un software en desarrollo para alguna de las siguientes categor&iacute;as: aplicaciones para PYMES, aplicaciones m&oacute;viles o entretenimiento y educaci&oacute;n.<br /><br />
            El objetivo del concurso es impulsar la promoci&oacute;n y fomento de la innovaci&oacute;n. Con esta iniciativa pretendemos apoyar la generaci&oacute;n de nuevos emprendimientos digitales y aplicaciones web y para m&oacute;viles. 
        </p>
    </div>
    
    <div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <span class="Resaltar" style="font-size: 13px;"><img src="<?php echo CESIS::$ROOT; ?>img/indicador2.png" align="left"/>Como participar</span>
        <p style="margin:5px 0 0;color: white;">
            El concurso est&aacute; abierto a personas, equipos de personas y personas jur&iacute;dicas. Los participantes deber&aacute;n ser mayores de 18 a&ntilde;os con domicilio en la Rep&uacute;blica Argentina.<br />
            El primer paso a seguir para participar del concurso ser&aacute; el de registrarse en el sitio web como nuevo usuario y completar el formulario de alta de proyecto, describiendo brevemente la idea a implementar.<br />
            Una vez hecho aquello, los participantes recibir&aacute;n un correo electr&oacute;nico por parte de los organizadores en el que se les solicitar&aacute; que completen otros datos requeridos para continuar con el procedimiento para participar del concurso.<br /><br />
            La inscripci&oacute;n comenzar&aacute; el 19 de octubre de 2011 y finalizar&aacute; el 15 marzo de 2012.<br /><br />
            Para m&aacute;s detalles contactanos a trav&eacute;s de nuestras redes sociales.<br /><br />
            <a href="<?php echo CESIS::$ROOT?>BasesCondiciones/" style="color:#999999;font-weight: bold;">Bases y Condiciones del concurso</a>
        </p>
    </div>
    
    <!--div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <span class="Resaltar" style="font-size: 13px;"><img src="<?php echo CESIS::$ROOT; ?>img/indicador2.png" align="left"/>Bases y condiciones</span>
        <p style="margin:5px 0 0;color: white;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci
            men book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and 
            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    
    <div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <span class="Resaltar" style="font-size: 13px;"><img src="<?php echo CESIS::$ROOT; ?>img/indicador2.png" align="left"/>Jurado</span>
        <p style="margin:5px 0 0;color: white;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci
            men book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and 
            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    
    <div class="Datos" style="padding: 30px 0;border-bottom: 1px dotted #272727">
        <span class="Resaltar" style="font-size: 13px;"><img src="<?php echo CESIS::$ROOT; ?>img/indicador2.png" align="left"/>&iquest;Quienes somos?</span>
        <p style="margin:5px 0 0;color: white;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci
            men book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and 
            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div-->
</div>