<div class="PosicionAbsoluta" style="left: 25px;top:260px;"><img src="<?php echo CESIS::$ROOT; ?>img/encontranos.png"/></div>
<div class="Centrar AnchoContenedor Transparente">
    <div class="TituloInteriorCont">
        <img src="<?php echo CESIS::$ROOT; ?>img/QSinterior.png" />
    </div>
    <div class="QSContenedor">
        <img src="<?php echo CESIS::$ROOT; ?>img/QSImagen.jpg" />
        <div class="QSContenedorTexto">
            <div class="QSTitulo">Open App Challenge</div>
            <p>
                <b>Concurso Nacional de Aplicaciones Web y M&oacute;viles,</b> organizado por Telef&oacute;nica y Movistar, junto con la colaboraci&oacute;n de <b>emBlue.</b>
                Con el objetivo de impulsar la promoci&oacute;n y fomento de la innovaci&oacute;n en la comunidad de emprendedores IT, desarrolladores, 
                proveedores de contenidos, estudiantes y graduados en sistemas. 
            </p>       
        </div>
    </div>
    <div class="QSContenedor">
        <img src="<?php echo CESIS::$ROOT; ?>img/QSTelefonica.jpg" />
        <div class="QSContenedorTexto">
            <div class="QSTitulo">Telef&oacute;nica</div>
            <p>
                <b>TELEF&Oacute;NICA</b> es una de las mayores compa&ntilde;&iacute;as de telecomunicaciones del mundo por <b>capitalizaci&oacute;n burs&aacute;til y n&uacute;mero de clientes.</b>
                Desarrolla operaciones en <b>tres continentes</b> y tiene presencia en <b>25 pa&iacute;ses con 265 millones de accesos:</b> en Espa&ntilde;a, Europa y
                Latinoam&eacute;rica. 
            </p>       
        </div>
    </div> 
    <div class="QSContenedor">
        <img src="<?php echo CESIS::$ROOT; ?>img/QSTelefonica.jpg" />
        <div class="QSContenedorTexto">
            <div class="QSTitulo">Telef&oacute;nica Negocios</div>
            <p>
                Telef&oacute;nica Negocios hoy presta servicios de comunicaciones a m&aacute;s de <b>1,2 millones</b> de pymes, comercios y profesionales en toda
                la regi&oacute;n latinoamericana, con un equipo de m&aacute;s de 6.500 colaboradores en los cinco pa&iacute;ses de la regi&oacute;n en los que opera.
                En la Argentina, <b>Telef&oacute;nica Negocios</b> atiende a m&aacute;s de <b>300.000 clientes,</b> con soluciones para cada rubro de actividad 
                (agro, servicios, finanzas, salud, construcci&oacute;n, automotores, industria, etc.) que contemplan un abanico de m&aacute;s de <b>100 productos
                y servicios.</b>
            </p>       
        </div>
    </div>
    <div class="QSContenedor" >
        <img src="<?php echo CESIS::$ROOT; ?>img/QSTelefonica.jpg" />
        <div class="QSContenedorTexto">
            <div class="QSTitulo">Fundacion Telef&oacute;nica</div>
            <p>
                Fundaci&oacute;n Telef&oacute;nica tiene por objetivo favorecer la implantaci&oacute;n de las Tecnolog&iacute;as de la Informaci&oacute;n y la Comunicaci&oacute;n en los
                procesos educativos. <b>Est&aacute; presente en Argentina, Brasil, Colombia, Chile, Espa&ntilde;a, M&eacute;xico, Per&uacute; y Venezuela,</b> donde desarrolla
                diferentes programas en cinco l&iacute;neas de actuaci&oacute;n: Proni&ntilde;o, EducaRed, Voluntarios Telef&oacute;nica, F&oacute;rum y Arte y Tecnolog&iacute;a. 
            </p>       
        </div>
    </div>
    <div class="QSContenedor" id="QSultimo">
        <img src="<?php echo CESIS::$ROOT; ?>img/QSemblue.jpg" />
        <div class="QSContenedorTexto">
            <div class="QSTitulo">emBlue</div>
            <p>
                EmBlue es una agencia de marketing y publicidad online que comercializa en todo el mundo sus servicios, principalmente de <b>email
                marketing.</b> Con un staff de <b>30 profesionales</b> en <b>Argentina</b> y con presencia en los pa&iacute;ses de <b>Espa&ntilde;a</b> y <b>Colombia,</b> atiende clientes a
                lo largo <b>de toda Latinoam&eacute;rica, Estados Unidos y Europa.</b>
            </p>       
        </div>
    </div>
</div>