<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#c0c0c0"><tr><td width="100%" valign="top" align="center">
    <div style="width:600px; margin:5px auto; padding:0;background-color:transparent;text-align:center;">
        <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color:#fff; margin:0 auto;paddding:0; font-family:Arial, Helvetica, sans-serif">
            <tr>
                <td width="600" style="vertical-align:top; font-size:0">
                    <table cellpadding="0" cellspacing="0" border="0" width="600">
                        <tr>
                            <td width="154" style="vertical-align:top; font-size:0"><img src="http://www.epexo.com/images/openapp/LogoOpenApp.jpg" width="154" height="151" /></td>
                            <td width="446" style="vertical-align:top; font-size:0"><img src="http://www.epexo.com/images/openapp/ElconcursoNacional.jpg" width="446" height="151" /></td>
                        </tr>
                    </table>
                </td>
            </tr>            
            <tr>
                <td width="600" style="vertical-align:top; font-size:0">
                    <table cellpadding="0" cellspacing="0" border="0" width="600">
                        <tr>
                            <td width="151" style="vertical-align:top; font-size:0">&nbsp;</td>
                            <td width="410" style="vertical-align:top; font-size:0">
                                <table cellpadding="0" cellspacing="0" border="0" width="410">
                                    <tr>
                                        <td width="410" style="vertical-align:top; font-size:0;text-align:left"><img src="http://www.epexo.com/images/openapp/mail_confirmacion.png" width="342" height="34"></td>
                               	  </tr>
                                    <tr>
                                        <td height="30" width="410" style="vertical-align:top; font-size:0" >&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#afafaf; text-align:left; font-weight:bold">Los datos iniciales del proyecto son:</td>
                                    </tr>
                                    <tr>
                                        <td width="410" height="5" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
									<tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#413e3f;text-align:left; font-weight:bold">Nombre del Proyecto: <span style="color:#2290af; font-weight:normal">Nombre del proyecto</span></td>
                                    </tr>
                                    <tr>
                                        <td width="410" height="5" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
									<tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#413e3f;text-align:left;font-weight:bold">Descripci&oacute;n:  <span style="color:#2290af; font-weight:normal">Lorem ipsum bl, bla, bla</span></td>
                                    </tr>
                                    <tr>
                                        <td height="30" width="410" style="vertical-align:top; font-size:0" >&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#242021; text-align:left; font-weight:bold">Para completar la carga del proyecto, haga clic en el</td>
                                    </tr>
                                    <tr>
                                        <td width="410" height="5" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#242021; text-align:left; font-weight:bold">siguiente enlace o copie y pegue en su navegador:</td>
                                    </tr>
                                    <tr>
                                        <td width="410" height="10" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3; text-align:left; font-weight:bold">http://openappchallenge.com.ar/carga-completa.php?option=com</td>
                                  </tr>
                                    <tr>
                                        <td width="410" height="5" style="color:#FFFFFF; font-size:0px">a</td>
                                    </tr>
                                    <tr>
                                        <td width="410" style="vertical-align:top; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#007fa3; text-align:left; font-weight:bold">_user&amp;task=activate&amp;activation=7f402ddb9589fa71e13c52325709581d</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="39" style="vertical-align:top; font-size:0">&nbsp;</td>
                        </tr>
                    </table>    
                </td>
            </tr>
            <tr>
            	<td height="100" width="600" style="vertical-align:top; font-size:0">&nbsp;</td>
            </tr>
       </table>
	</div>
</div>
</td></tr>
</table>