<div style="display: block;" id="Formulario" class="enviarConsulta">
    <div id="ContFormularioConsulta">
        <div style="color: #ffffff;font-family: 'Trebuchet MS',arial; font-size:15px; font-weight: bold; color: #d01d23;margin: 0 auto;">
            <form  method="post" name="FormMail" onSubmit="return FormConsulta('Home/MailConsulta',this);">
                <div class="DesInput" style="float:none; margin: 0; width: 61px; color:#FFFFFF">Nombre:</div><div class="InputEst" style="width: 153px; float: none"><input id="Nombre" type="text" name="Nombre" validar="rq" /></div>
                <div class="Clr"></div>
                <div class="DesInput" style="float:none; margin: 0; width: 45px; color:#FFFFFF">Email:</div><div class="InputEst" style="float:none"><input id="Email" type="text" name="Email" validar="rq::mail"/></div>
                <div class="Clr"></div>
                <div class="DesInput" style="float:none; margin: 0; width: 56px; color:#FFFFFF">Asunto:</div><div class="InputEst" style="float:none"><input id="Asunto" type="text" name="Asunto" validar="rq"  ></div>
                <div class="Clr"></div>
                <div class="DesInput" style="float:none; margin: 0; width: 61px; color:#FFFFFF">Comentario:</div><div class="InputEst" style="float:none"><textarea id="Comentario" name="Comentario" validar="rq"></textarea></div>
                <div class="Clr"></div>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</div>