<form action="#" method="post" onSubmit="ValidarFormAjax('<?php echo CESIS::$ROOT; ?>Home/EnviarClave/',this,MensOKOClave,MensErrorOClave);return false;">
    <div class="CLogin" style="background-color:#000000;padding: 20px">
        <div class="Contenedor">
            <div><img src="<?php echo CESIS::$ROOT; ?>img/mail.png"/></div>
            <div class="Margin"><input type="text" validar="rq" name="user" value="" /></div>
            <div><input type="submit" style="background-image: url('<?php echo CESIS::$ROOT; ?>img/btn_enviar.png');"/></div>
       </div>
   </div>
</form>